/*
Implemented from The Anglea Way css clock tutorial
https://medium.com/the-andela-way/create-a-pure-css-clock-with-svg-f123bcc41e46
*/

:root {
  --start-seconds: 0;
  --start-minutes: 0;
  --start-hours: 0;
}

.clock-svg {
  width: 200px;
  fill: white;
  stroke: black;
  stroke-width: 1;
  stroke-linecap: round;
  transform: rotate(-90deg);
}

.clock-marks {
  transform: translate(20px, 20px);
  stroke-width: 0.2;
}
.clock-marks > line:nth-child(1) {
  /* There are 12 marks, so we rotate by 30deg (12 * 30 = 360) */
  transform: rotate(30deg);
}
.clock-marks > line:nth-child(2) {
  transform: rotate(calc(2 * 30deg));
}
.clock-marks > line:nth-child(3) {
  transform: rotate(calc(3 * 30deg));
  stroke-width: 0.5;
}
.clock-marks > line:nth-child(4) {
  transform: rotate(calc(4 * 30deg));
}
.clock-marks > line:nth-child(5) {
  transform: rotate(calc(5 * 30deg));
}
.clock-marks > line:nth-child(6) {
  transform: rotate(calc(6 * 30deg));
  stroke-width: 0.5;
}
.clock-marks > line:nth-child(7) {
  transform: rotate(calc(7 * 30deg));
}
.clock-marks > line:nth-child(8) {
  transform: rotate(calc(8 * 30deg));
}
.clock-marks > line:nth-child(9) {
  transform: rotate(calc(9 * 30deg));
  stroke-width: 0.5;
}
.clock-marks > line:nth-child(10) {
  transform: rotate(calc(10 * 30deg));
}
.clock-marks > line:nth-child(11) {
  transform: rotate(calc(11 * 30deg));
}
.clock-marks > line:nth-child(12) {
  transform: rotate(calc(12 * 30deg));
  stroke-width: 0.5;
}

.seconds,
.minute,
.hour
{
  transform: translate(20px, 20px) rotate(0deg);
}
.seconds {
  stroke-width: 0.3;
  stroke: #d00505;
  transform: translate(20px, 20px) rotate(calc(var(--start-seconds) * 6deg));
  /*animation: rotateSecondsHand 60s steps(60) infinite;*/
}
@keyframes rotateSecondsHand {
  from {
    transform: translate(20px, 20px) rotate(calc(var(--start-seconds) * 6deg));
  }
  to {
    transform: translate(20px, 20px) rotate(calc(var(--start-seconds) * 6deg + 360deg));
  }
}

.minute {
  stroke-width: 0.6;
  transform: translate(20px, 20px) rotate(calc(var(--start-minutes) * 6deg));
  animation: rotateMinuteHand 3600s steps(60) infinite;
  animation-delay: calc(var(--start-seconds) * -1 * 1s);
}
@keyframes rotateMinuteHand {
  from {
    transform: translate(20px, 20px) rotate(calc(var(--start-minutes) * 6deg));
  }
  to {
    transform: translate(20px, 20px) rotate(calc(var(--start-minutes) * 6deg + 360deg));
  }
}

.hour {
  stroke-width: 1;
  transform: translate(20px, 20px) rotate(calc(var(--start-hours) * 30deg));
  animation: rotateHourHand calc(12 * 60 * 60s) linear infinite;
  animation-delay: calc(calc(var(--start-minutes) * -60 * 1s) + calc(var(--start-seconds) * -1 * 1s));
}
@keyframes rotateHourHand {
  from {
    transform: translate(20px, 20px) rotate(calc(var(--start-hours) * 30deg));
  }
  to {
    transform: translate(20px, 20px) rotate(calc(var(--start-hours) * 30deg + 360deg));
  }
}

.pin {
  stroke: #d00505;
  stroke-width: 0.2;
}


