.App {
  text-align: center;
  display:grid;
  grid-template-columns: 250px repeat(auto, minmax(100px, 1fr)) 250px;
  grid-gap: 0.5 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#game {
  grid-column: 2/4;
  grid-row: 2;
}

#x-clock {
  grid-column: 1;
  grid-row: 1 / 3;
}

#o-clock {
  grid-column: 3;
  grid-row: 1 / 3;
}